
# BEGIN All In One WP Security
#AIOWPS_DEBUG_LOG_BLOCK_HTACCESS_RULES_START
<Files debug.log>
<IfModule mod_authz_core.c>
Require all denied
</IfModule>
<IfModule !mod_authz_core.c>
Order deny,allow
Deny from all
</IfModule>
</Files>
#AIOWPS_DEBUG_LOG_BLOCK_HTACCESS_RULES_END
#AIOWPS_IP_BLACKLIST_START
<IfModule !mod_authz_core.c>
Order allow,deny
Allow from all
Deny from 107.77.202.0
Deny from 185.119.81.37
Deny from 185.222.210.243
Deny from 185.86.167.4
Deny from 212.83.170.97
Deny from 64.203.169.183
Deny from 73.31.21.0
Deny from 76.111.115.0
Deny from 99.203.80.0
</IfModule>
<IfModule mod_authz_core.c>
<RequireAll>
Require all granted
Require not ip 107.77.202.0
Require not ip 185.119.81.37
Require not ip 185.222.210.243
Require not ip 185.86.167.4
Require not ip 212.83.170.97
Require not ip 64.203.169.183
Require not ip 73.31.21.0
Require not ip 76.111.115.0
Require not ip 99.203.80.0
</RequireAll>
</IfModule>
#AIOWPS_IP_BLACKLIST_END
# END All In One WP Security

RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]

# add a trailing slash to /wp-admin
RewriteRule ^([_0-9a-zA-Z-]+/)?wp-admin$ $1wp-admin/ [R=301,L]

RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]
RewriteRule ^([_0-9a-zA-Z-]+/)?(wp-(content|admin|includes).*) $2 [L]
RewriteRule ^([_0-9a-zA-Z-]+/)?(.*\.php)$ $2 [L]
RewriteRule . index.php [L]

Header set Cache-Control "max-age=86400, must-revalidate" "expr=%{REQUEST_URI} !~ m#^/wp-admin#"

# BEGIN ShortPixelWebp

# END ShortPixelWebp
